li {
  font-family: "Lucida Console", "Courier New", monospace;
}

.pageNumber{
  text-align: center;
}

#book{
  max-width: 800px;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.ws-center{
  text-align: center;
}